html,
body {
    background-color: darkslateblue;
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.dark-green {
    color: #90ee90;
}

h1 {
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
}

.one-word {
    font-size: 4rem;
    white-space: nowrap;
    font-family: 'Cedarville Cursive', cursive;
}

.content {
    margin: 4rem;
    max-width: 1200px;
    margin-top: 12rem;
}

.text {
    min-width: 400px;
}

.image {
    position: relative;
    top: -16rem;
    right: -10rem;
    transform: rotate(180deg);
    animation: brush 3s infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

.main-content {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.love {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

@keyframes brush {
    from {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(150deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }
}